
<div class="container mt-5">
  <h1 class="mb-4">Lecturas Recomendadas</h1>
  <div class="row">

    <!-- Libro 1 -->
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://http2.mlstatic.com/D_NQ_NP_673885-MLA54040457764_022023-O.webp" alt="Hábitos Atómicos" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Hábitos Atómicos</h5>
          <p class="card-text">
            Un libro sobre cómo pequeños cambios pueden generar resultados extraordinarios en nuestra vida diaria. El autor explora cómo formar hábitos duraderos que nos permitan alcanzar nuestros objetivos y mejorar nuestra productividad.
          </p>
        </div>
      </div>
    </div>

    <!-- Libro 2 -->
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://http2.mlstatic.com/D_NQ_NP_757065-MLA50445324006_062022-O.webp" alt="El Poder del Ahora" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">El Poder del Ahora</h5>
          <p class="card-text">
            Una guía espiritual que invita a vivir el momento presente para encontrar la paz interior y la iluminación. El autor enseña a liberarnos de nuestros pensamientos negativos y preocupaciones, para así disfrutar de una vida plena y consciente.
          </p>
        </div>
      </div>
    </div>

    <!-- Libro 3 -->
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://http2.mlstatic.com/D_NQ_NP_784631-MLA54008367704_022023-O.webp" alt="El Club de las 5 am" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">El Club de las 5 am</h5>
          <p class="card-text">
            Una historia inspiradora que nos muestra cómo el desarrollo de una rutina matutina puede transformar nuestras vidas. El autor presenta las prácticas diarias de personas exitosas que se levantan temprano para enfocarse en su crecimiento personal y profesional.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
