<nav class="navbar-expand-lg bg-body-tertiary">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class=" nav-item m-2">
          <a class="nav-link active" aria-current="page" routerLink="recomendados" >Otras lecturas</a>

        </li>
        <li class=" nav-item m-2">
          <a class="nav-link" routerLink="preguntas">Preguntas frecuentes</a>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link" href="#">Legales</a>
        </li>

      </ul>
      <div class="navbar-expand-lg bg-body-tertiary ">
        <div class="collapse navbar-collapse">
        <a class="nav-item "   href="https://www.instagram.com/" target="_blank" title="Instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.facebook.com/" target="_blank" title="Facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.pinterest.com/" target="_blank" title="Pinterest"><i class="bi bi-pinterest"></i></a>
        <a href="https://twitter.com/" target="_blank" title="Twitter"><i class="bi bi-twitter"></i></a>
        </div>
      </div>



      <span class="navbar-text">
        <a href="https://mail.google.com/" target="_blank" rel="noopener noreferrer">lunaenlibroclub@gmail.com</a>
      </span>
    </div>

  </nav>




