
<div class="container row p-3 mt-5">
  <div class="card col-2  m-4 p-2" >
    <img src="/assets/imagenes/books-5615562_1280.jpg"class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Libro del Mes</h5>
        <p class="card-text "> <strong>Agosto</strong> </p>
        <a href="#" class="btn btn-secondary">Ver</a>
      </div>

  </div>

      <div class="col-8 flex-fill">
        <app-buscador></app-buscador>
        <app-lista-libros class="text-center mt-2"></app-lista-libros>
      </div>
</div>




