.container{
  background-image: url('/assets/imagenes/trnava-university-BEEyeib-am8-unsplash.jpg')  ;
  background-size: cover;
  width: 102%;


}


.d-flex {

  margin: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img{
  margin-top: 3px;
}

.libro-mes{
  width: 12rem;
  max-height: 400px;
}

