<body>

  <div class="container mt-5">
    <h1 class="mb-4">Preguntas frecuentes</h1>
    <div class="accordion" id="preguntasFrecuentes">

      <!-- Pregunta 1 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="pregunta1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#respuesta1" aria-expanded="true" aria-controls="respuesta1">
            ¿Cuándo se realizan las reuniones del club de lectura?
          </button>
        </h2>
        <div id="respuesta1" class="accordion-collapse collapse show" aria-labelledby="pregunta1" data-bs-parent="#preguntasFrecuentes">
          <div class="accordion-body">
            Las reuniones del club de lectura se realizan el último sábado de cada mes, a las 16:00 horas, en nuestra sede principal.
          </div>
        </div>
      </div>

      <!-- Pregunta 2 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="pregunta2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#respuesta2" aria-expanded="false" aria-controls="respuesta2">
            ¿Cómo puedo unirme al club de lectura?
          </button>
        </h2>
        <div id="respuesta2" class="accordion-collapse collapse" aria-labelledby="pregunta2" data-bs-parent="#preguntasFrecuentes">
          <div class="accordion-body">
            Puedes unirte al club de lectura completando el formulario de inscripción en nuestro sitio web o asistiendo directamente a una de nuestras reuniones mensuales.
          </div>
        </div>
      </div>

      <!-- Pregunta 3 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="pregunta3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#respuesta3" aria-expanded="false" aria-controls="respuesta3">
            ¿Se requiere algún costo para ser miembro del club?
          </button>
        </h2>
        <div id="respuesta3" class="accordion-collapse collapse" aria-labelledby="pregunta3" data-bs-parent="#preguntasFrecuentes">
          <div class="accordion-body">
            No, la membresía en nuestro club de lectura es completamente gratuita. ¡Todos son bienvenidos!
          </div>
        </div>
      </div>



    </div>
  </div>


