.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 10px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.card-img-top {
  flex: 1;
  width: 100%;
  min-height: 70%;
  max-height: 70%;
  object-fit: cover;
}
