<div class="container mt-5">
  <h1 class="mb-4">Quiénes Somos</h1>
  <div class="row">
    <div class="col-md-6">
      <img src="/assets/imagenes/frase-leer.jpg" alt="Club de Lectura" class="img-fluid mb-4">
    </div>
    <div class="col-md-6">
      <h2>¡Bienvenidos al Club de Lectura!</h2>
      <p>
        Somos un grupo de entusiastas amantes de la lectura que nos reunimos para compartir y disfrutar de nuestro amor por los libros. Nuestro club se fundó en 2010 y desde entonces hemos estado explorando diversas obras literarias de diferentes géneros y épocas.
      </p>
      <p>
        En nuestras reuniones mensuales, debatimos y analizamos a fondo los libros seleccionados, lo que nos permite obtener una comprensión más profunda y apreciar las diversas perspectivas de los miembros del club.
      </p>
      <p>
        Además de nuestras discusiones, también organizamos eventos especiales, presentaciones de autores y actividades relacionadas con la literatura, lo que hace que nuestra comunidad sea aún más enriquecedora y divertida.
      </p>
      <p>
        Si eres un apasionado de la lectura y deseas compartir tus ideas con personas que comparten la misma pasión, ¡únete a nosotros en nuestras próximas reuniones!
      </p>
      <p class="lead">¡Esperamos conocerte pronto!</p>
    </div>
  </div>
</div>








